* {
    box-sizing: border-box;
}

html, body{
        font-family: "Roboto Serif", serif;
        font-style: normal; 
        padding: 0;
        margin: 0;  
}
header{
 background-image: url("images/background.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 align-items: center;
 justify-content: space-around;
 height: 240px;
 background-position: center;
 opacity: 1;
}
#findFilm{
    color:white;
    font-size:4rem;
    font-weight: bold;
   
}
 .watchlist{
    text-decoration: none;
    color: white;
    font-size:3rem;
    font-weight: bold;
}
 .watchlist:hover{
    color: goldenrod;
}
.searching{
   padding: 0 3em;
   position:relative;
   margin-top:-20px;
 
  
}

input[type=text] {
    border: 2px solid #ccc;
    border-radius: 4px 0px 0px 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("images/search.jpg");
    background-position: 2px 3px; 
    background-repeat: no-repeat;
    background-size: 30px;
    width: 90%;
    padding: 12px 20px 12px 40px;
  }
  input:focus {
   outline: none;
}
  .btn-search{
    padding: 12px 20px 12px 40px;
    border-radius: 0px 4px 4px 0px;
    font-size: 16px;
    border: 2px solid #ccc;
    position:absolute;
    cursor: pointer;
  }
  .mywatchlist,
 .movie-container{
     min-height:60.93vh;
     width: 100%; 
  
  }

 .movies{
    display: flex;
    border-bottom: 3px solid lightgray;
 }
 .every_movies{
    padding: 30px 30px 5px 10px;
  
}
   .moviePoster{
    width: 160px;
    height: 160px; 

  }


 .title_info{
  display: flex;
  gap:2px;
    padding: 20px 0px 0px 0px;
  

}
.title{
    font-size:35px;
   margin-top:0;

}
 .star{
    color:goldenrod;
    font-size:25px;
    padding:  5px 0px 5px 0px;
          margin-top:10px;
} 
 .movie-rating{
    font-size:30px;
     padding: 0 5px;
    margin-top:8px;
} 
.runtime{
 display: flex;
 margin-top:-30px;

   
}
.second-line-movie-desc{
    font-size: 20px;
}
.run{
    font-size: 20px;  
}
.movie-genre p{
    font-size: 20px;
}

.addToWatchListBtn{
  width: 100px;
  height: 50px;
  outline: none;
  background-color: white;
  border:none;
  font-size:15px;
  cursor: pointer;
margin-top:5px;

}
.addToWatchListBtn:hover{
    color:goldenrod;
    outline: none;
}
.synopsis{
    margin-top:-200px;
}
.plot{
    margin-top:60px;
    margin-left:-350px;
} 